/* main.css */

.nav-container {
  margin: auto;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  border: 2px solid yellow;
  border-radius: 20px;
  margin-left: 20px;
}

.hor-container {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.vert-container {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(173, 181, 220);
  width: 100vh;
  height: 100vh;
  margin: 50px 0px;
  padding: 10px;
  border-radius: 20px;
}

.banner {
  background-color: #667fbf; /* Blue color for the banner */
  color: #fff; /* White text color for better contrast */
  padding: 20px;
  text-align: center;
}

.button {
  background-color: #fff;
}
